/* styles/AddPost.css */

/* Styles for the accordion button */
.react-accessible-accordion__button {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  
  /* Styles for the accordion panel */
  .react-accessible-accordion__panel {
    display: block;
    padding: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #d9d9d9;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  
  /* Styles for the textarea and input file */
  .react-accessible-accordion__panel textarea,
  .react-accessible-accordion__panel input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  /* Styles for the submit button */
  .react-accessible-accordion__panel button {
    display: block;
    margin: 0 auto;
    background-color: #1a73e8;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  /* Hover effect for the submit button */
  .react-accessible-accordion__panel button:hover {
    background-color: #1669d1;
  }

  .ql-editor {
    border: none !important;
  }

  .ql-container {
    border: none !important;
  }
  