.user-activity {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  .line {
    flex: 1;
    border-left: 1px solid #333; /* Vertical line */
    height: 100%;
    margin-left: 0.5rem; /* Adjust the spacing from the left */
  }
  
  .circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem; /* Adjust the spacing from the left */
  }
  
  .action {
    margin-left: 0.5rem; /* Spacing between the circle and action text */
    font-weight: bold;
  }
  
  .id {
    margin-left: 0.5rem; /* Spacing between the action text and id */
    color: #666;
  }